<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  </head>
  <body class="bg-cover bg-center bg-fixed"
        style="background-image: url('{% static 'images/background.jpg' %}')">
    <div class="container">
      {% if request.user.is_authenticated %}
        <h2>Hi, {{ request.user.get_full_name }}</h2>
        <p>You have successfully logged in!</p>
        <a href="{% url 'logout' %}">Logout</a>
      {% else %}
        <h2>Welcome back!</h2>
        <p>Login to your account now.</p>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Signup</a>
      {% endif %}
    </div>
  </body>
</html>
